.my-cart-confirm {
    .cart-row {
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.09);
    }

    .bg-alternate {
        background-color: rgba(70, 131, 180, 0.07);
    }

    svg {
        cursor: pointer;
        transition: background-color 0.2s ease-out;

        &:hover {
            & path {
                fill: rgb(175, 3, 3) !important;
            }
        }
    }
}
